/JavaGUI/Bars_Histograms/nbproject/private/
/JavaGUI/Bars_Histograms/build/
/JavaGUI/Bars_Histograms/dist/
/JavaGUI/New Folder/Report_5/nbproject/private/
/JavaGUI/New Folder/Report_5/build/
/JavaGUI/New Folder/RandomArray/nbproject/private/
/JavaGUI/New Folder/RandomArray/build/
/JavaConsole/MultiCore/nbproject/private/
/JavaConsole/MultiCore/build/